div[class^='level'] {
    border: 2px solid red;
    display: flex;
    justify-content:space-between;
}
.level-1 {
    width: 80%;
    height: 200px;
    margin: 50px auto;
}
.level-2,.level-3,.level-4 {
    flex: 1;
    margin: 20px;
}
 .buttons {
    margin: 30px auto;
    text-align: center;
}
